In [74]:
import pandas as pd

In [75]:
df=pd.read_csv(r"Bird Strikes data.csv")

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25558 non-null  int64
 1   Aircraft: Type                           25429 non-null  object
 2   Airport: Name                            25429 non-null  object
 3   Altitude bin                             25429 non-null  object
 4   Aircraft: Make/Model                     25558 non-null  object
 5   Wildlife: Number struck                  25429 non-null  object
 6   Wildlife: Number Struck Actual           25558 non-null  int64
 7   Effect: Impact to flight                 2078 non-null   object
 8   FlightDate                               25429 non-null  object
 9   Effect: Indicated Damage                 25558 non-null  object
 10  Aircraft: Number of engines?             25291 non-null  object
 11  Aircraft: Airline/Operator               25429 non-null  object
 12  Origin State                             25109 non-null  object
 13  When: Phase of flight                    25429 non-null  object
 14  Conditions: Precipitation                2015 non-null   object
 15  Remains of wildlife collected?           25558 non-null  bool
 16  Remains of wildlife sent to Smithsonian  25558 non-null  bool
 17  Remarks                                  20787 non-null  object
 18  Wildlife: Size                           25429 non-null  object
 19  Conditions: Sky                          25558 non-null  object
 20  Wildlife: Species                        25558 non-null  object
 21  Pilot warned of birds or wildlife?       25429 non-null  object
 22  Cost: Total $                            25558 non-null  object
 23  Feet above ground                        25429 non-null  object
 24  Number of people injured                 25558 non-null  int64
 25  Is Aircraft Large?                       25429 non-null  object
dtypes: bool(2), int64(3), object(21)
memory usage: 4.7+ MB

In [77]:
import numpy as np

In [78]:

# Iterate through each column to check for data type and show sample of 5 unique values
for column in df.columns:
    unique_values = df[column].unique()[:5]  # Get up to 5 unique values
    is_numeric = pd.api.types.is_numeric_dtype(df[column])
    
    print(f"Column '{column}':")
    print(f"  Sample of unique values: {unique_values}")
    
    if is_numeric:
        print("  Data type: Numeric")
    else:
        print("  Data type: Categorical")
    
    print("-" * 40)

Column 'Record ID':
  Sample of unique values: [202152 208159 207601 215953 219878]
  Data type: Numeric
----------------------------------------
Column 'Aircraft: Type':
  Sample of unique values: ['Airplane' nan]
  Data type: Categorical
----------------------------------------
Column 'Airport: Name':
  Sample of unique values: ['LAGUARDIA NY' 'DALLAS/FORT WORTH INTL ARPT' 'LAKEFRONT AIRPORT'
 'SEATTLE-TACOMA INTL' 'NORFOLK INTL']
  Data type: Categorical
----------------------------------------
Column 'Altitude bin':
  Sample of unique values: ['> 1000 ft' '< 1000 ft' nan]
  Data type: Categorical
----------------------------------------
Column 'Aircraft: Make/Model':
  Sample of unique values: ['B-737-400' 'MD-80' 'C-500' 'CL-RJ100/200' 'A-300']
  Data type: Categorical
----------------------------------------
Column 'Wildlife: Number struck':
  Sample of unique values: ['Over 100' '2 to 10' nan '11 to 100' '1']
  Data type: Categorical
----------------------------------------
Column 'Wildlife: Number Struck Actual':
  Sample of unique values: [859 424 261 806 942]
  Data type: Numeric
----------------------------------------
Column 'Effect: Impact to flight':
  Sample of unique values: ['Engine Shut Down' nan 'Precautionary Landing' 'Other' 'Aborted Take-off']
  Data type: Categorical
----------------------------------------
Column 'FlightDate':
  Sample of unique values: ['11/23/00 0:00' '7/25/01 0:00' '9/14/01 0:00' '9/5/02 0:00'
 '6/23/03 0:00']
  Data type: Categorical
----------------------------------------
Column 'Effect: Indicated Damage':
  Sample of unique values: ['Caused damage' 'No damage']
  Data type: Categorical
----------------------------------------
Column 'Aircraft: Number of engines?':
  Sample of unique values: ['2' '3' '4' nan '1']
  Data type: Categorical
----------------------------------------
Column 'Aircraft: Airline/Operator':
  Sample of unique values: ['US AIRWAYS*' 'AMERICAN AIRLINES' 'BUSINESS' 'ALASKA AIRLINES'
 'COMAIR AIRLINES']
  Data type: Categorical
----------------------------------------
Column 'Origin State':
  Sample of unique values: ['New York' 'Texas' 'Louisiana' 'Washington' 'Virginia']
  Data type: Categorical
----------------------------------------
Column 'When: Phase of flight':
  Sample of unique values: ['Climb' 'Landing Roll' 'Approach' 'Take-off run' 'Descent']
  Data type: Categorical
----------------------------------------
Column 'Conditions: Precipitation':
  Sample of unique values: [nan 'Snow' 'Fog' 'Rain' 'Fog, Rain']
  Data type: Categorical
----------------------------------------
Column 'Remains of wildlife collected?':
  Sample of unique values: [False  True]
  Data type: Numeric
----------------------------------------
Column 'Remains of wildlife sent to Smithsonian':
  Sample of unique values: [False  True]
  Data type: Numeric
----------------------------------------
Column 'Remarks':
  Sample of unique values: ['FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN TYPE. #1 ENG WAS SHUT DOWN AND DIVERTED TO EWR. SLIGHT VIBRATION. A/C WAS OUT OF SVC FOR REPAIRS TO COWLING, FAN DUCT ACCOUSTIC PANEL. INGESTION. DENTED FAN BLADE #26 IN #1 ENG. HEAVY BLOOD STAINS ON L WINGTIP'
 '102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR WAS DAMAGED AND REPLACED.'
 'FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER APCH END OF RWY. NO DMG. JUST A LOT OF BIRD DROPPINGS ON WINDSCREEN.'
 'NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING AN EMERGENCY LDG. 77 BIRDS WERE FOUND DEAD ON RWY/TWY WITH GRASSHOPPERS IN THEIR STOMACHS. SAFETY AREAS COULD NOT BE THOROUGHLY INSPCTD DURING 14 MINUTE SHUTDOWN OF RWY 34L. NO DMG. A/C OUT OF SVC 40 MINS. PHOT'
 'NO DMG REPTD.']
  Data type: Categorical
----------------------------------------
Column 'Wildlife: Size':
  Sample of unique values: ['Medium' 'Small' 'Large' nan]
  Data type: Categorical
----------------------------------------
Column 'Conditions: Sky':
  Sample of unique values: ['No Cloud' 'Some Cloud' 'Overcast']
  Data type: Categorical
----------------------------------------
Column 'Wildlife: Species':
  Sample of unique values: ['Unknown bird - medium' 'Rock pigeon' 'European starling'
 'Unknown bird - small' 'Canada goose']
  Data type: Categorical
----------------------------------------
Column 'Pilot warned of birds or wildlife?':
  Sample of unique values: ['N' 'Y' nan]
  Data type: Categorical
----------------------------------------
Column 'Cost: Total $':
  Sample of unique values: ['30,736' '0' '1,481,711' '1,483,141' '8,600']
  Data type: Categorical
----------------------------------------
Column 'Feet above ground':
  Sample of unique values: ['1,500' '0' '50' '150' '100']
  Data type: Categorical
----------------------------------------
Column 'Number of people injured':
  Sample of unique values: [0 2 1 6]
  Data type: Numeric
----------------------------------------
Column 'Is Aircraft Large?':
  Sample of unique values: ['Yes' 'No' nan]
  Data type: Categorical
----------------------------------------

In [79]:
# 1. Drop the 'Altitude bin' column as it has no useful data
df.drop(columns=['Altitude bin'], inplace=True)

In [80]:
# 2. Handle missing values
# Impute 'Aircraft: Type' with the most frequent value
df['Aircraft: Type'].fillna(df['Aircraft: Type'].mode()[0], inplace=True)

In [81]:
# Impute 'Airport: Name' with the most frequent value
df['Airport: Name'].fillna(df['Airport: Name'].mode()[0], inplace=True)

In [82]:
# Drop rows with missing values in 'Wildlife: Number struck'
df.dropna(subset=['Wildlife: Number struck'], inplace=True)

In [83]:
# Impute 'Effect: Impact to flight' with 'Unknown'
df['Effect: Impact to flight'].fillna('Unknown', inplace=True)

In [84]:
# Impute 'Conditions: Precipitation' with 'Unknown'
df['Conditions: Precipitation'].fillna('Unknown', inplace=True)

In [85]:
# Impute 'Remarks' with 'No remark'
df['Remarks'].fillna('No remark', inplace=True)

In [86]:
# Impute 'Wildlife: Size' with the mode
df['Wildlife: Size'].fillna(df['Wildlife: Size'].mode()[0], inplace=True)

In [87]:
# Impute 'Pilot warned of birds or wildlife?' with 'Unknown'
df['Pilot warned of birds or wildlife?'].fillna('Unknown', inplace=True)

In [88]:
# Impute 'Is Aircraft Large?' with 'Unknown'
df['Is Aircraft Large?'].fillna('Unknown', inplace=True)

In [89]:
# 3. Convert 'Feet above ground' from object to numeric (remove commas)
df['Feet above ground'] = df['Feet above ground'].replace({',': ''}, regex=True).astype(float)

In [90]:
# Impute missing values in 'Feet above ground' with the median
df['Feet above ground'].fillna(df['Feet above ground'].median(), inplace=True)

In [91]:
# 4. Convert 'Cost: Total $' to numeric (remove '$' and commas)
df['Cost: Total $'] = df['Cost: Total $'].replace({'\$': '', ',': ''}, regex=True).astype(float)

In [92]:
# 5. Convert 'FlightDate' to datetime format
df['FlightDate'] = pd.to_datetime(df['FlightDate'], errors='coerce')

C:\Users\Avinash rai\AppData\Local\Temp\ipykernel_19216\2536073337.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['FlightDate'] = pd.to_datetime(df['FlightDate'], errors='coerce')

In [93]:
categorical_cols = ['Aircraft: Type', 'Airport: Name', 'Effect: Impact to flight', 'Wildlife: Number struck', 
                    'Conditions: Precipitation', 'Aircraft: Make/Model', 'Aircraft: Number of engines?', 
                    'Aircraft: Airline/Operator', 'Origin State', 'When: Phase of flight', 
                    'Wildlife: Size', 'Conditions: Sky', 'Wildlife: Species', 'Pilot warned of birds or wildlife?', 
                    'Is Aircraft Large?', 'Remarks']
df[categorical_cols] = df[categorical_cols].apply(lambda x: x.astype('category'))

In [94]:
df['Year'] = df['FlightDate'].dt.year.astype('Int64')

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25429 entries, 0 to 25557
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25429 non-null  int64
 1   Aircraft: Type                           25429 non-null  category
 2   Airport: Name                            25429 non-null  category
 3   Aircraft: Make/Model                     25429 non-null  category
 4   Wildlife: Number struck                  25429 non-null  category
 5   Wildlife: Number Struck Actual           25429 non-null  int64
 6   Effect: Impact to flight                 25429 non-null  category
 7   FlightDate                               25429 non-null  datetime64[ns]
 8   Effect: Indicated Damage                 25429 non-null  object
 9   Aircraft: Number of engines?             25195 non-null  category
 10  Aircraft: Airline/Operator               25429 non-null  category
 11  Origin State                             24980 non-null  category
 12  When: Phase of flight                    25429 non-null  category
 13  Conditions: Precipitation                25429 non-null  category
 14  Remains of wildlife collected?           25429 non-null  bool
 15  Remains of wildlife sent to Smithsonian  25429 non-null  bool
 16  Remarks                                  25429 non-null  category
 17  Wildlife: Size                           25429 non-null  category
 18  Conditions: Sky                          25429 non-null  category
 19  Wildlife: Species                        25429 non-null  category
 20  Pilot warned of birds or wildlife?       25429 non-null  category
 21  Cost: Total $                            25429 non-null  float64
 22  Feet above ground                        25429 non-null  float64
 23  Number of people injured                 25429 non-null  int64
 24  Is Aircraft Large?                       25429 non-null  category
 25  Year                                     25429 non-null  Int64
dtypes: Int64(1), bool(2), category(16), datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 3.0+ MB

In [96]:
# 4. Handling Missing Values:
# a. Handle 'Aircraft: Number of engines?' column with missing values, replace with 'Unknown'
df['Aircraft: Number of engines?'] = df['Aircraft: Number of engines?'].cat.add_categories('Unknown').fillna('Unknown')

# b. Handle 'Origin State' missing values, replace with 'Unknown'
df['Origin State'] = df['Origin State'].cat.add_categories('Unknown').fillna('Unknown')

# c. Handle 'Wildlife: Number struck' missing values, replace with 'Unknown'
df['Wildlife: Number struck'] = df['Wildlife: Number struck'].cat.add_categories('Unknown').fillna('Unknown')

# d. Handle 'Remarks' - If remarks are missing, fill them with 'No remarks'
df['Remarks'] = df['Remarks'].cat.add_categories('No remarks').fillna('No remarks')

In [97]:
# 4. Handling Missing Values:
# a. Handle 'Aircraft: Number of engines?' column with missing values, replace with 'Unknown'
if 'Unknown' not in df['Aircraft: Number of engines?'].cat.categories:
    df['Aircraft: Number of engines?'] = df['Aircraft: Number of engines?'].cat.add_categories('Unknown')
df['Aircraft: Number of engines?'] = df['Aircraft: Number of engines?'].fillna('Unknown')

# b. Handle 'Origin State' missing values, replace with 'Unknown'
if 'Unknown' not in df['Origin State'].cat.categories:
    df['Origin State'] = df['Origin State'].cat.add_categories('Unknown')
df['Origin State'] = df['Origin State'].fillna('Unknown')

# c. Handle 'Wildlife: Number struck' missing values, replace with 'Unknown'
if 'Unknown' not in df['Wildlife: Number struck'].cat.categories:
    df['Wildlife: Number struck'] = df['Wildlife: Number struck'].cat.add_categories('Unknown')
df['Wildlife: Number struck'] = df['Wildlife: Number struck'].fillna('Unknown')

# d. Handle 'Remarks' - If remarks are missing, fill them with 'No remarks'
if 'No remarks' not in df['Remarks'].cat.categories:
    df['Remarks'] = df['Remarks'].cat.add_categories('No remarks')
df['Remarks'] = df['Remarks'].fillna('No remarks')

In [98]:
import pandas as pd
import numpy as np

# Loading the dataset (replace 'your_dataset.csv' with the actual file)
# df = pd.read_csv('your_dataset.csv')

# 1. Convert 'FlightDate' to datetime type (if not already)
df['FlightDate'] = pd.to_datetime(df['FlightDate'], errors='coerce')

# 2. Convert 'Cost: Total $' to numeric (strip commas and convert to float)
df['Cost: Total $'] = df['Cost: Total $'].replace({',': ''}, regex=True)
df['Cost: Total $'] = pd.to_numeric(df['Cost: Total $'], errors='coerce')

# 3. Convert columns that are categorical (object type) to 'category' for memory optimization
categorical_columns = ['Aircraft: Type', 'Airport: Name', 'Aircraft: Make/Model', 'Wildlife: Number struck',
                       'Effect: Impact to flight', 'Effect: Indicated Damage', 'Aircraft: Number of engines?',
                       'Aircraft: Airline/Operator', 'Origin State', 'When: Phase of flight', 'Conditions: Precipitation',
                       'Remarks', 'Wildlife: Size', 'Conditions: Sky', 'Wildlife: Species', 'Pilot warned of birds or wildlife?',
                       'Is Aircraft Large?']

df[categorical_columns] = df[categorical_columns].apply(lambda x: x.astype('category'))

# 4. Handling Missing Values:
# a. Handle 'Aircraft: Number of engines?' column with missing values, replace with 'Unknown'
if 'Unknown' not in df['Aircraft: Number of engines?'].cat.categories:
    df['Aircraft: Number of engines?'] = df['Aircraft: Number of engines?'].cat.add_categories('Unknown')
df['Aircraft: Number of engines?'] = df['Aircraft: Number of engines?'].fillna('Unknown')

# b. Handle 'Origin State' missing values, replace with 'Unknown'
if 'Unknown' not in df['Origin State'].cat.categories:
    df['Origin State'] = df['Origin State'].cat.add_categories('Unknown')
df['Origin State'] = df['Origin State'].fillna('Unknown')

# c. Handle 'Wildlife: Number struck' missing values, replace with 'Unknown'
if 'Unknown' not in df['Wildlife: Number struck'].cat.categories:
    df['Wildlife: Number struck'] = df['Wildlife: Number struck'].cat.add_categories('Unknown')
df['Wildlife: Number struck'] = df['Wildlife: Number struck'].fillna('Unknown')

# d. Handle 'Remarks' - If remarks are missing, fill them with 'No remarks'
if 'No remarks' not in df['Remarks'].cat.categories:
    df['Remarks'] = df['Remarks'].cat.add_categories('No remarks')
df['Remarks'] = df['Remarks'].fillna('No remarks')

# 5. Handle 'Feet above ground' - Convert to numeric (coercing errors for invalid entries)
df['Feet above ground'] = pd.to_numeric(df['Feet above ground'], errors='coerce')

# 6. Ensure that 'Year' column is extracted correctly from 'FlightDate' and is an integer
df['Year'] = df['FlightDate'].dt.year.astype('Int64')

# 7. Remove duplicates if any (if necessary)
df.drop_duplicates(inplace=True)

# 8. Clean the dataset by dropping any rows where critical information is missing (e.g., 'Record ID')
df.dropna(subset=['Record ID'], inplace=True)

# 9. Reset the index for clarity after dropping rows
df.reset_index(drop=True, inplace=True)

# Check the final cleaned data
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25429 entries, 0 to 25428
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25429 non-null  int64
 1   Aircraft: Type                           25429 non-null  category
 2   Airport: Name                            25429 non-null  category
 3   Aircraft: Make/Model                     25429 non-null  category
 4   Wildlife: Number struck                  25429 non-null  category
 5   Wildlife: Number Struck Actual           25429 non-null  int64
 6   Effect: Impact to flight                 25429 non-null  category
 7   FlightDate                               25429 non-null  datetime64[ns]
 8   Effect: Indicated Damage                 25429 non-null  category
 9   Aircraft: Number of engines?             25429 non-null  category
 10  Aircraft: Airline/Operator               25429 non-null  category
 11  Origin State                             25429 non-null  category
 12  When: Phase of flight                    25429 non-null  category
 13  Conditions: Precipitation                25429 non-null  category
 14  Remains of wildlife collected?           25429 non-null  bool
 15  Remains of wildlife sent to Smithsonian  25429 non-null  bool
 16  Remarks                                  25429 non-null  category
 17  Wildlife: Size                           25429 non-null  category
 18  Conditions: Sky                          25429 non-null  category
 19  Wildlife: Species                        25429 non-null  category
 20  Pilot warned of birds or wildlife?       25429 non-null  category
 21  Cost: Total $                            25429 non-null  float64
 22  Feet above ground                        25429 non-null  float64
 23  Number of people injured                 25429 non-null  int64
 24  Is Aircraft Large?                       25429 non-null  category
 25  Year                                     25429 non-null  Int64
dtypes: Int64(1), bool(2), category(17), datetime64[ns](1), float64(2), int64(3)
memory usage: 2.7 MB
None
   Record ID Aircraft: Type                Airport: Name Aircraft: Make/Model  \
0     202152       Airplane                 LAGUARDIA NY            B-737-400
1     208159       Airplane  DALLAS/FORT WORTH INTL ARPT                MD-80
2     207601       Airplane            LAKEFRONT AIRPORT                C-500
3     215953       Airplane          SEATTLE-TACOMA INTL            B-737-400
4     219878       Airplane                 NORFOLK INTL         CL-RJ100/200

  Wildlife: Number struck  Wildlife: Number Struck Actual  \
0                Over 100                             859
1                Over 100                             424
2                Over 100                             261
3                Over 100                             806
4                Over 100                             942

  Effect: Impact to flight FlightDate Effect: Indicated Damage  \
0         Engine Shut Down 2000-11-23            Caused damage
1                  Unknown 2001-07-25            Caused damage
2                  Unknown 2001-09-14                No damage
3    Precautionary Landing 2002-09-05                No damage
4                  Unknown 2003-06-23                No damage

  Aircraft: Number of engines?  ...  \
0                            2  ...
1                            2  ...
2                            2  ...
3                            2  ...
4                            2  ...

                                             Remarks Wildlife: Size  \
0  FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...         Medium
1  102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...          Small
2  FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...          Small
3  NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...          Small
4                                      NO DMG REPTD.          Small

  Conditions: Sky      Wildlife: Species  Pilot warned of birds or wildlife?  \
0        No Cloud  Unknown bird - medium                                   N
1      Some Cloud            Rock pigeon                                   Y
2        No Cloud      European starling                                   N
3      Some Cloud      European starling                                   Y
4        No Cloud      European starling                                   N

   Cost: Total $ Feet above ground Number of people injured  \
0        30736.0            1500.0                        0
1            0.0               0.0                        0
2            0.0              50.0                        0
3            0.0              50.0                        0
4            0.0              50.0                        0

  Is Aircraft Large?  Year
0                Yes  2000
1                 No  2001
2                 No  2001
3                Yes  2002
4                 No  2003

[5 rows x 26 columns]

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25429 entries, 0 to 25428
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Record ID                                25429 non-null  int64
 1   Aircraft: Type                           25429 non-null  category
 2   Airport: Name                            25429 non-null  category
 3   Aircraft: Make/Model                     25429 non-null  category
 4   Wildlife: Number struck                  25429 non-null  category
 5   Wildlife: Number Struck Actual           25429 non-null  int64
 6   Effect: Impact to flight                 25429 non-null  category
 7   FlightDate                               25429 non-null  datetime64[ns]
 8   Effect: Indicated Damage                 25429 non-null  category
 9   Aircraft: Number of engines?             25429 non-null  category
 10  Aircraft: Airline/Operator               25429 non-null  category
 11  Origin State                             25429 non-null  category
 12  When: Phase of flight                    25429 non-null  category
 13  Conditions: Precipitation                25429 non-null  category
 14  Remains of wildlife collected?           25429 non-null  bool
 15  Remains of wildlife sent to Smithsonian  25429 non-null  bool
 16  Remarks                                  25429 non-null  category
 17  Wildlife: Size                           25429 non-null  category
 18  Conditions: Sky                          25429 non-null  category
 19  Wildlife: Species                        25429 non-null  category
 20  Pilot warned of birds or wildlife?       25429 non-null  category
 21  Cost: Total $                            25429 non-null  float64
 22  Feet above ground                        25429 non-null  float64
 23  Number of people injured                 25429 non-null  int64
 24  Is Aircraft Large?                       25429 non-null  category
 25  Year                                     25429 non-null  Int64
dtypes: Int64(1), bool(2), category(17), datetime64[ns](1), float64(2), int64(3)
memory usage: 2.7 MB

In [100]:
# Save the cleaned dataframe to a new CSV file
df.to_csv('cleaned_bird_strikes_data.csv', index=False)